*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(250, 255, 223);
}

.header {
    background-color: rgb(255, 255, 168);
    margin: 6px;
    padding: 10px 0px 3px 0px;
    border: 1px none;
    border-radius: 7px;
    display: flex;
    justify-content: center;
}

.header  h1 {
    color: rgb(228, 133, 10);
    font-size: 60px;
    font-weight: bold;
    font-family:'Courier New', Courier, monospace;
    text-align: center;
}

.recipe-container {
    background-color:rgb(240, 240, 217);     
    width: 1800px;
    height: 320px;
    border-radius: 20px;
    display: flex;
    justify-content: space-evenly;  
    flex-wrap: wrap;
    margin: 0 auto;
    padding-left: 113px;
}

.recipe-item {
    text-align: center;
    margin-top: 18px;
}

.recipe-container .recipe-link{
    color: rgb(146, 109, 109);
    font-size: 28px;
    text-decoration: none;
    font-weight: bold;
    font-family:'Courier New', Courier, monospace;
}

.recipe-container .recipe-img img {
    display: flex;
    width: 300px;
    height: auto;
    border-style: solid;
    border-color: rgb(211, 230, 177);
    border-width: 8px;
    border-radius: 8px;
    margin-top: 18px;
}
